<h2> MY TALKS </h2>

{{#each talks as |talk|}}
<a href="/dashboard/{{talk.talk_id}}" style="text-decoration:none">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-9">
                <h5 class="card-header" style="color:black">{{talk.name}}</h5>
                <div class="card-body">
                    <h5 class="card-title" style="color:black">{{talk.description}}</h5>
                    <p style="color:black" >Where: {{talk.date}}</p>
                </div>
            </div> 
        </div>  
    </div>
</a>
{{/each}}

<h3>Creating a New Talk:</h3>

<form> 
    <label for="talks"> Please enter your talk Title </label>
    <input type="text" id="talk-title"><br><br>
    <label for= "talk-description"> plaese enter your talk description</label>
    <input type="text" id = "talk-description"><br><br>
    <button id="create" title= "{{talk.talk_id}}" value="[{{#each talk.attends}}{{user_id}},{{/each}}]" id="{{user_id}}">add talk</button>
</form> 

    


    <script src = "/js/dashboard.js"> </script>


