{{!-- 
{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}

<h2 class="card-header text-center">Talks</h2>
{{#each talks as |talk|}}
    <a href="/post/{{talk.talk_id}}" style="text-decoration:none">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card col-9">
                    <h5 class="card-header" style="color:black">{{talk.name}}</h5>
                    <div class="card-body">
                        <h5 class="card-title" style="color:black">{{talk.description}}</h5>
                        <p class="card-text" style="color:black">Posted By: {{talk.user.username}} on {{talk.created}}</p>
                    </div>
                </div> 
            </div>  
        </div>
    </a>
{{/each}}