{{!-- 
{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}

<h1 class="homepageTitle">Talks</h2>
{{#each talk as |talk|}}
  <a href="/api/talk/{{talk.talk_id}}" class="">
    <div class="postingArea">
      <h3 class="postTitle" style="color:black">{{talk.name}}</h3>
      <div class="card-body">
        <h5 class="postQuestion" style="color:black">{{talk.description}}</h5>
        <div class="talkDetails">
          <p>{{talk.user.name}}</p>
          {{#if talk.date}}
            <p style="color:black">Where: {{talk.location}} on {{format_date talk.date}}</p>
            <p style="color:black">Days until talk: {{distance talk.date}}</p>
          {{else}}
            <p style="color:black">{{talk.location}}</p>
          {{/if}} 
        </div>
      </div>
    </div> 
  </a>
{{/each}}
