<h2>Talks</h2>
<h5>{{talk.name}}</h5>
<h5>{{talk.description}}</h5>
<p>Talk will be given by: {{talk.user.name}} on {{talk.date}}</p>

{{#if talk.questions}}
    {{#each talk.questions}}
        <h5>Question</h5>
        <h5>{{question}}</h5>
        <p>Posted By: {{user.name}} on {{created}}</p>
    {{/each}}
{{/if}}

{{#if talk.attends}}
        <h5>Attendance</h5>
    {{#each talk.attends}}
        <h5>{{user.name}}</h5>
    {{/each}}
{{/if}}

<button class="attend-btn" title= "{{talk.talk_id}}" value="[{{#each talk.attends}}{{user_id}},{{/each}}]" id="{{user_id}}">Attend this Talk</button>


<form> 
    <label for="question"> Please ask your question </label>
    <input type="text" id="question"><br><br>
    <button id="questions" title= "{{talk.talk_id}}" value="[{{#each talk.attends}}{{user_id}},{{/each}}]" id="{{user_id}}">Ask a Question</button>
</form>

<button id="{{talk.talk_id}}" name="{{user_id}}" title="{{#each talk.attends}}{{attend_id}},{{/each}}" value="{{#each talk.attends}}{{user_id}},{{/each}}"class="remove-attend-btn">No Longer Attend this Talk</button>

<script src="/js/attend.js"></script>